*
{
    margin: 0;
    padding: 0;
}
html{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #27005D;
    margin: 0;
}

.nav-link{
    float: right;
    color: #AED2FF;
}
.nav-link:hover{
    background-color: #E4F1FF;
}

/* Banner section start*/
.coloured-section{
    background-color: #5CD2E6;
}
.container_1{
    text-align: center;
}
/* Banner section ends*/

/* Dashboard section start*/
.container_2{
    text-align: center;
}
.second-section{
    background-color:#FAF2D3;
}
/* Dashboard section ends*/

/* footer css starts here */
footer{
    background-color: #E4F1FF;
}

.social-icons li{
    list-style: none;
    display: inline;
    padding: 0.5rem;
}

.github{
    color: #24292e;
}

.linkedin{
    color: #0077b5;
}
/* footer css ends here  */